<!doctype html>
<html>
    <head>
        <title>Login</title>
        <link href="main.css" type="text/css" rel="stylesheet" />
    </head>
    <body>

        <div id="app">
            <h4 style="text-align:center">{{message}}</h4>
            <h4 style="text-align:center" :name="username" :attr="attr1">{{output}} --- {{username}}</h4>
            <div class="form-container">
                <form class="my-form" id="myform" method="get" action="https://cn.bing.com/search">

                    <div>
                        <label>UserName:</label>
                        <input id="name" type="text" name="username" v-model="username" />
                    </div>

                    <div>
                        <label>Password:</label>
                        <input type="password" name="password" />
                    </div>

                    <div>
                        <label id="random-check"></label>
                        <input type="number" name="checkRobot" />
                    </div>

                    <div>
                        <input type="text" name="verifycode" v-model="checkRobot"/>
                        <button onclick="LoginForm.shared.getSMSCode(event)" id="sms-btn">验证码</button>
                    </div>
                    <input type="hidden" name="q" value="login test is ok" />
                    <div>
                        <button @click="submitForm">登录</button>
                    </div>

                </form>
            </div>
        </div>
<!-- 
        <div>
            {{message}}
        </div> -->

        <script src="vue.js"></script>
        <script src="main.js"></script>

    </body>
</html>